:root {
  --primary-color: #222;
  --secondary-color: #ddd;
  --accent-color: gold;
  --parent-padding: ;
  --child-padding: ;
  --parent-margin: ;
  --child-margin: ;
  --text-primary-color: ;
  --text-secondary-color: ;

  /* ------------- usage -------------
    background-color: var(--secondary-color);  */
}

/* ------------- GENERAL ------------- */

* {
  box-sizing: border-box;

}

html, body {
  height: 100%;
}

body {
  overflow-y: scroll;
}

header {
}

header h1 {
  font-size: 33px;
}

[class^="header__home__tagline"] {
  font-size: 13px !important;
}



.App {
  text-align: center;
}

.header {
  background-color: #222;
  height: 130px;
  padding: 40px 20px 20px 20px;
  color: white;
}

.header__home {
  display: inline-block;
  padding: 0 40px;
}

.header__home h1 {
  margin: 0;
}

.header__home__link {
  display: block;
}


[class^="header__home__tagline"] {
  display: block;
  text-align: left;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  color: lightgray;
  transition: 0.3s color, 0.3s transform, 0.3s margin;
}

.header__home__tagline--selected, .header__home__link:active + [class^="header__home__tagline"] {
    color: var(--accent-color);
    transform: scale(1.4, 1.166);
    margin-left: 41px;
}

h1.header__home__link a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: block;
}

a.header__h1:active {
  color: var(--accent-color);
}





.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
  margin-top: 0;
}



nav, header h1, nav ul li {
  display: inline-block;
}

nav {
  vertical-align: top;
  padding-top: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  cursor: pointer;
  font-size: 1.15em;
  position: relative;
  color: white;
  margin-right: 12px;
}

nav ul li::after {
  content: "";
  position: absolute;
  background: var(--accent-color);
  width: 0;
  height: 3px;
  display: block;
  margin-top: -1px;
  transition: 0.3s width;
}

nav ul li:hover::after {
  content: "";
  position: absolute;
  background: gold;
  width: 20px;
  height: 3px;
  display: block;
  margin-top: -1px;
}

nav ul li:active::after {
  content: "";
  position: absolute;
  background: var(--accent-color);
  width: 100%;
  height: 3px;
  display: block;
  margin-top: -1px;
}

nav ul li.selected::after {
  content: "";
  position: absolute;
  background: var(--accent-color);
  width: 100%;
  height: 3px;
  display: block;
  margin-top: -1px;
}

nav ul li:not(:last-child) {
  margin-right: 10px;
}

.selected {
  color: var(--accent-color);
}

.selected::after {
  content: "";
  position: absolute;
  background: var(--accent-color);
  width: 30px;
  height: 3px;
  display: block;
  margin-top: -3px;
}

.content {
  width: 100%;
  height: 100%;
  background: #ddd;
  overflow: hidden;
}

.content h1 {
  margin-top: 30px;
}

.div__portfolio, .div__services, .div__contact {
  padding: 30px 0 !important;
}

/* ----------- PORTFOLIO ----------- */

.portfolio__ul {
  padding: 0;
}

.portfolio__ul a:not(:last-child) {
  margin-right: 15px;
}

[class^="portfolio__li"] {
  list-style-type: none;
  display: inline-block;
  width: 250px;
  height: 250px;
  border: 1px solid #777;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-filter: saturate(0);
  filter: saturate(0);
  transition: 0.3s filter, 0.3s -webkit-filter !important;
}

[class^="portfolio__li"]:not(:last-child) {
  margin-right: 20px;
}

[class^="portfolio__li"]:not(.portfolio__li--selected):hover {
  filter: saturate(40%);
  -webkit-filter: saturate(40%);
}

.portfolio__li--selected, .portfolio__ul a:active [class^="portfolio__li"] {
  filter: saturate(100%);
  -webkit-filter: saturate(100%);
}

[class^="portfolio__li"]::before {
  position: absolute;
  width: 100%;
  background: rgba(34,34,34,0.85);
  bottom: -30px;
  left: 0;
  color: white;
  box-sizing: border-box;
  padding: 5px 0;
  transition: 0.4s height ease-out, 0.4s bottom;
}

.portfolio__li--blocchat {
  background-size: cover;
}

.portfolio__li--blocjams {
  background-size: contain;
}

.portfolio__li--traveltracks {
  background-size: contain;
}

.portfolio__li--blocchat::before {
  content: "Bloc Chat";
}

.portfolio__li--traveltracks::before {
  content: "TravelTracks";
}

.portfolio__li--blocjams::before {
  content: "Bloc Jams";
}

[class^="portfolio__li"]:not(.portfolio__li--selected):hover::before {
  position: absolute;
  width: 100%;
  opacity: 1;
  background: rgba(34,34,34,0.85);
  bottom: 0;
  left: 0;
}

.portfolio__li--selected::before {
  position: absolute;
  height: 30px;
  width: 100%;
  background: var(--accent-color);
  bottom: 0;
  left: 0;
  color: rgb(34,34,34);
  font-weight: bold;
}



.portfolio__item__wrap {
  width: 100%;
  padding: 0;
  background: #222;
  margin-top: 30px;

}

.portfolio__item__body {
  padding: 30px;
  background: #222;
  color: white;
  position: relative;
}

.portfolio__p {
  margin-bottom: 25px;
}

section.portfolio__item__wrap section {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
  -webkit-animation: roll-in 0.55s 1; /* Safari 4+ */
  -moz-animation:    roll-in 0.55s 1; /* Fx 5+ */
  -o-animation:      roll-in 0.55s 1; /* Opera 12+ */
  animation:         roll-in 0.55s 1; /* IE 10+, Fx 29+ */
}

.blocchat::before, .traveltracks::before, .blocjams::before {
   position: absolute;
   content: "";
   width: 30px;
   height: 30px;
   background: #222;
   transform: rotate(45deg);
   top: -15px;
 }

.blocchat::before {
  left: calc(50% - 281px);
}
.traveltracks::before {
  left: calc(50% - 10px);
}
.blocjams::before {
  left: calc(50% + 255px);
}

[class^="portfolio__carousel__wrap--"] {
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}



/* ----------- CAROUSEL ----------- */

.carousel__wrap {
  width: 745px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}

.carousel {
  display: inline-block;
  transition: margin 0.4s ease-out;
  position: relative;
}

.carousel__item {
  width: 745px;
  height: 500px;
  display: inline-block;
  float: left;
}

.carousel__item img {
  width: 745px;
  display: inline-block;
}

.carousel__caption {
  position: absolute;
  bottom: 0;
  background: rgba(34,34,34,0.85);
  width: 745px;
  padding: 10px;
}

.carousel__caption p {
  margin: 0;
}

.portfolio__carousel {
  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.portfolio__carousel__slide {
  width: 600px;
  height: 400px;
  background: rgba(255,255,255,0.8);
  display: inline-block;
  float: left;
}

[class^="carousel__arrow"] {
  position: absolute;
  top: calc(50% - 54px);
  font-size: 80px;
  cursor: pointer;
  background: rgba(34,34,34,0.3);
  display: inline-block;
  vertical-align: middle;
  z-index: 3;
  padding-bottom: 15px;
}

[class^="carousel__arrow"]:hover {
  background: rgba(34,34,34,0.6);
}

.carousel__arrow--left {
  content: "\2039";
  left: 0;
  border-radius: 0 4px 4px 0;
}

.carousel__arrow--right {
  content: "\203A";
  right: 0;
  border-radius: 4px 0 0 4px;
}



/* .portfolio__carousel__back, .portfolio__carousel__forward {
  position: absolute;
  height: 100%;
  width: 50px;
  background: rgba(34,34,34,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  cursor: pointer;
}

.portfolio__carousel__back {
  left: 0;
}

.portfolio__carousel__forward {
  right: 0;
} */

.portfolio__carousel__back:hover, .portfolio__carousel__forward:hover {
  background: rgba(34,34,34,0.6);
}

.portfolio__carousel__back:active, .portfolio__carousel__forward:active {
  background: rgba(34,34,34,0.8);
}

.carousel__dots__wrap {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(34,34,34,0.6);
  z-index: 4;
  width: 100%;
  padding: 4px 0 2px;
}

.carousel__dots {
  margin: 0 auto;
}

.carousel__dot {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  width: 13px;
  height: 13px;
  background: transparent;
  margin-right: 5px;
  transition: 0.2s background;
}

.carousel__dots__wrap .current {
  background: rgba(255,255,255,0.6);
}


/* --------------- SERVICES --------------- */

.green {
  font-weight: bold;
  color: lightgreen;
  background: darkgray;
  padding: 0 4px;
}

.yellow {
  font-weight: bold;
  color: yellow;
  background: darkgray;
  padding: 0 4px;
}

h3.green, h3.yellow {
  display: block;
  width: fit-content;
  margin: 15px auto;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@-webkit-keyframes roll-in {
  0%   {
    height: 0;
    margin-top: -20px;
    /* opacity: 0; */
  }
  100% {
    height: 100%;
    margin-top: 0;
    /* opacity: 1; */
   }
}
@-moz-keyframes roll-in {
  0%   {
    height: 0;
    margin-top: -20px;
    /* opacity: 0; */
  }
  100% {
    height: 100%;
    margin-top: 0;
    /* opacity: 1; */
   }
}
@-o-keyframes roll-in {
  0%   {
    height: 0;
    margin-top: -20px;
    /* opacity: 0; */
  }
  100% {
    height: 100%;
    margin-top: 0;
    /* opacity: 1; */
   }
}
@keyframes roll-in {
  0%   {
    height: 0;
    margin-top: -20px;
    /* opacity: 0; */
  }
  100% {
    height: 100%;
    margin-top: 0;
    /* opacity: 1; */
   }
}
